<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:style="'background-color:#00cc66'" >
<p th:text="'Curriculum Vitae'" th:style="'text-align:center;font-weight: bold'" />

<h5><p th:text="${title}" /></h5>
<table>
    <tr>
        <td><p>Name</p></td>
        <td><p th:text="': '+${name}" /></td>
    </tr>
    <tr>
        <td><p>Birthplace & Birthdate</p></td>
        <td><p th:text="': '+${birthInfo}" /></td>
    </tr>
    <tr>
        <td><p>Address</p></td>
        <td><p th:text="': '+${address}" /></td>
    </tr>
    <tr>
        <td><p>Education History</p></td>
        <td><p>: </p></td>
    </tr>
</table>
<table th:style="'border: 1px solid black;'" >
    <tr th:style="'border: 1px solid black;'" >
        <th th:style="'border: 1px solid black;'" >No.</th>
        <th th:style="'border: 1px solid black;'" >Educational level</th>
        <th th:style="'border: 1px solid black;'" >Institution</th>
        <th th:style="'border: 1px solid black;'" >Year</th>
    </tr>
    <tr th:style="'border: 1px solid black;'" >
        <td th:style="'border: 1px solid black;'" >1</td>
        <td th:style="'border: 1px solid black;'" >Elementary School</td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${sd}" /></td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${sdYear}" /></td>
    </tr>
    <tr th:style="'border: 1px solid black;'" >
        <td th:style="'border: 1px solid black;'" >2</td>
        <td th:style="'border: 1px solid black;'" >Junior High School</td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${smp}" /></td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${smpYear}" /></td>
    </tr>
    <tr th:style="'border: 1px solid black;'" >
        <td th:style="'border: 1px solid black;'" >3</td>
        <td th:style="'border: 1px solid black;'" >Senior High School</td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${sma}" /></td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${smaYear}" /></td>
    </tr>
    <tr th:style="'border: 1px solid black;'" >
        <td th:style="'border: 1px solid black;'" >4</td>
        <td th:style="'border: 1px solid black;'" >College</td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${univ}" /></td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${univYear}" /></td>
    </tr>

</table>
<hr/>
<p th:text="'About Me'" th:style="'font-weight: bold'" />
<p> A sophomore in computer science field who passionate in programming and eager to learn new things. Like to Code.</p>
</body>
</html>
